@import 'fonts';
@import 'variables';
@import 'pageOne';
@import 'pageTwo';
@import 'sidebar';
@import 'pageThree';
@import 'pageFour';
@import 'pageFive';

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Regular", sans-serif;
   font-size: 16px;
}
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
#root{
   height: 100vh;
   background-color: $Magnolia;
   padding-top: 15vh;
}
.container{
   max-width: 970px;
   padding: 0px 15px;
   margin: 0 auto;
}
.App{
   width: 100%;
   padding: 10px;
   background-color: $White;
   border-radius: 10px;
   display: flex;
}
.main{
   width: 600px;
}
.page{
   height: 100%;
   padding: 40px 60px 30px 80px;
   position: relative;
   &__title{
      font-size: 30px;
      font-family: "Medium", sans-serif;
      color: $Marine-blue;
      margin-bottom: 10px;
      letter-spacing: 1px;
   }
   &__subtitle{
      font-size: 16px;
      color: $Cool-gray;
      margin-bottom: 30px;
   }
}
.button-next{
   display: inline-block;
   width: 130px;
   padding: 15px 20px;
   border-radius: 8px;
   font-family: 'Medium';
   background-color: $Marine-blue;
   border: none;
   color: $Alabaster;
   position: absolute;
   right: 60px;
   bottom: 20px;
   transition: 0.2s all;
   cursor: pointer;
   &:hover{
      opacity: 0.8;
   }
}
.button-confirm{
   background-color: $Purplish-blue;
}
.button-prev{
   display: inline-block;
   width: 130px;
   padding: 15px 20px;
   border-radius: 8px;
   font-family: 'Medium';
   background: none;
   border: none;
   color: $Cool-gray;
   position: absolute;
   left: 60px;
   bottom: 20px;
   transition: 0.2s all;
   cursor: pointer;
}